

body {
    background-color: bisque;
}

h1 {
    color : salmon;
    background-color: mediumvioletred
}

h2 {
    color: peru;
    text-align: center;
}


  h3  {
      background-color: peachpuff;
      padding: 4%;
      border-radius: 5%;  
    }

    .para { font-family : comic time;
             line-height: 1.8em;
             color: teal ;   
             
    } 

    #p1 {background: pink; width: 400px; padding:2%; border-radius: 15% }
    #p2 {background: palevioletred; color : white; width:  500px; padding: 1.5%; border-radius: 18%}
    #p3 {background: coral; color :purple; width : 600px; padding: 3%; border-radius: 25%}


